html {
    font-family: Arial, sans-serif;
    background-color: #010b35bb;
    color: #9F9F9F;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-around;
}

h1 {
    color: #FFFFFF;
    font-size: 4rem;
    margin: 0px auto;
}

h2 {
    font-size: 3rem;
}

.about {
    max-width: 700px;
    text-align: justify;
}

#project-title {
    text-align: center;
}